# esp32PhoneV2 Mainboard (PCB4), ESP32-S3-WROOM-1U-N16R8

config BOARD_ESP32PHONE_V2
	select SOC_ESP32S3_WROOM_N16R8
	select SOC_ESP32S3_PROCPU if BOARD_ESP32PHONE_V2_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ESP32PHONE_V2_ESP32S3_APPCPU
